.alt-screen-header {
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
  padding: 45px 25px 20px 25px;
  background-color: white;
  z-index: 1;
}
.alt-screen-header__column {
  display: flex;
  justify-content: center;
}
.alt-screen-header__column:first-child {
  justify-content: flex-start;
}
.alt-screen-header__column:last-child {
  justify-content: flex-end;
}
.alt-screen-header__title {
  text-align: center;
  font-size: 25px;
  font-weight: 600;
}
.alt-screen-header__column:last-child i {
  margin-left: 25px;
}
